<div class="flex my-10">

    <div class="mx-8 rounded-2xl backdrop-brightness-125 backdrop-blur shadow text-black flex-col
                    box-content fixed w-80">
        <h2 class="rounded-t-2xl py-2 mx-2 text-xl text-white text-center">
            Задачи
        </h2>

        <div class="px-4 h-full bg-white py-5 rounded-b-2xl">

        </div>
    </div>

    <div class="mr-8 w-full rounded-2xl min-h-screen backdrop-brightness-75 backdrop-blur shadow text-black ml-96">
        <h2 class="rounded-t-2xl py-2 mx-2 text-xl text-white text-center">
            Информационный блок
        </h2>
        <div class="bg-white rounded-b-2xl min-h-screen">

        </div>
    </div>
</div>
