<h2 class="rounded-t-2xl py-2 mx-2 text-xl text-white text-center">
    Уборки
    <span class="text-sm text-gray-200">({{paginationPage.total}})</span>
</h2>
<div class="bg-white rounded-b-2xl">
    <div class="py-6 {{isLoading ? 'animate-pulse' : ''}}">
            <table class="border-collapse mx-auto transition-all w-5/6">
                <thead>
                <tr class="border-b-2 border-slate-600">
                    <th class="px-2 pb-1 text-left">Дата</th>
                    <th class="px-2 pb-1 text-left">Этаж</th>
                    <th class="px-2 pb-1 text-left">Служащий</th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-b transition hover:bg-slate-200 hover:cursor-default border-slate-300 last-of-type:border-none group"
                    *ngFor="let r of items">
                    <td class="p-2">{{r.dateCleaning.toLocaleDateString()}}</td>
                    <td class="p-2">
                        {{r.floor.number}}
                    </td>
                    <td class="p-2">
                        {{r.employee.person.surname}} {{r.employee.person.name[0]}}.
                        {{r.employee.person.patronymic[0]}}.
                    </td>
                </tr>
                </tbody>
            </table>

        <!-- пагинация -->
        <app-pagination (onSelectPage)="onSelectPage.emit($event)" [paginationPage]="paginationPage"></app-pagination>
    </div>
</div>
